*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(67, 193, 149);
}
header{
    width:100%;
    padding: 10px;
    background:transparent;
    align-items: center;
    justify-content:space-around;
    display: flex;
}
  a:hover{
    background-color: rgb(67, 193, 149);
    border-radius: 10px;
    text-align: right;

}